@{ ViewData["Title"] = "Support"; }

<figure class="text-center">
    <img src="~/Images/HorizontalLogo.png" width="350"/>
</figure>
<h2 class="text-center mt-5 font-weight-bolder mb-3 pb-3 border-bottom">Frequently Asked Questions</h2>
<div class="card mt-4">
    <div class="card-body">
        <div class="alert alert-warning">
            <h4 class="text-black">
                <i class="fa-solid fa-search mr-2"></i> How do I register my self here?</h4>
                <div class="alert alert-dark mt-2">
                    Steps:
                    <ol>
                        <li>Click on Register button where you will see a form.</li>
                        <li>Fill out all the information and click on Register.</li>
                        <li>If you are already logged in into your account, First click on Sign Out</li>
                    </ol>
                </div>
        </div>

        <div class="alert alert-warning">
            <h4 class="text-black">
                <i class="fa-solid fa-search mr-2"></i>How do I log into my account?</h3>
                <div class="alert alert-dark mt-2">
                    Steps:
                    <ol>
                        <li>Click on Login button where you will see a form.</li>
                        <li>Fill out all the information and click on Login.</li>
                    </ol>
                </div>
        </div>

        <div class="alert alert-warning">
            <h4 class="text-black">
                <i class="fa-solid fa-search mr-2"></i> How do I change my password?</h3>
                <div class="alert alert-dark mt-2">
                    Steps:
                    <ol>
                        <li>Log into your account.</li>
                        <li>click on your name.</li>
                        <li>go to <b>Password</b> tabe.</li>
                        <li>Fill information and submit the form</li>
                    </ol>
                </div>
        </div>

        <div class="alert alert-warning">
            <h4 class="text-black">
                <i class="fa-solid fa-search mr-2"></i> How do I post my idea?</h3>
                <div class="alert alert-dark mt-2">
                    Steps:
                    <ol>
                        <li>Log into your account.</li>
                        <li>Navigate to the posts page</li>
                        <li>Click on <b>Create</b> button</li>
                        <li>Fill information and click on <b>Post</b> button</li>
                    </ol>
                </div>
        </div>

        <div class="alert alert-warning">
            <h4 class="text-black"><i class="fa-solid fa-search mr-2"></i> How do I activate 2 step verification on my account?</h4>
            <div class="alert alert-dark mt-2">
                Steps:
                <ol>
                    <li>Log into your account.</li>
                    <li>click on your name.</li>
                    <li>Navigate to Two-Factor Authentication tab</li>
                    <li>Click on <b>Add authentication app</b> button</li>
                    <li>follow instructions and once you done, click on <b>verify</b> button</li>
                </ol>
            </div>
        </div>
    </div>
</div>


@*<h3>Support</h3>




<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="~/css/Support.css">

<div class="row">

    <div class="col-5 m-3">


        <div class="card">
            <div class="card-body">
            <div class="image">
                <img src="~/Images/2fVerification(2).png" />
            </div>
            <div class="details">
                <div class="center">

                    <h4>How to create an account</h4>
                    <ol>
                        <li>Click on Register button where you will see a form.</li>
                        <li>Fill out all the information and click on Register.</li>
                        <li>If you are already logged in into your account, First click on Sign Out</li>
                    </ol>
                </div>
            </div>
        </div>
        </div>

    </div>
    <br />
    <br />
    <div class="col-5 m-3">


        <div class="card">
            <div class="image">
                <img src="~/Images/How to login.png" />
            </div>
            <div class="details">
                <div class="center">


                    <p>Click on Login button where you will see a form.</p>
                    <p>Fill out all the information and click on Login.</p>
                    <p>If you are already logged in into your account, First click on Sign Out</p>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <div class="col-5 m-3">


        <div class="card">
            <div class="image">
                <img src="~/Images/How to chnage your password.png" />
            </div>
            <div class="details">
                <div class="center">


                    <p>First Log into your account</p>
                    <p>Click on your name and go to Password tab.</p>
                    <p>Fill information, and click submit</p>
                </div>
            </div>
        </div>

    </div>

    <br />
    <br />
    <div class="col-5 m-3">


        <div class="card">
            <div class="image">
                <img src="~/Images/How to post an idea.png" />
            </div>
            <div class="details">
                <div class="center">


                    <p>First Log into your account</p>
                    <p>Click on posts, and then click on create button there</p>
                    <p>Fill information about your post and click on create</p>
                </div>
            </div>
        </div>

    </div>


   
</div>*@